.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 添加 z-index 以确保导航栏始终位于其他元素之上 */
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
}

.nav-links:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
