@keyframes slide-down{
  0%{transform:scale(1,0);}
  100%{transform:scale(1,1);}
}

@-webkit-keyframes slide-down{
  0%{-webkit-transform:scale(1,0);}
  100%{-webkit-transform:scale(1,1);}
}

@keyframes slide-up{
  0%{transform:scale(1,1);}
  100%{transform:scale(1,0);}
}

@-webkit-keyframes slide-up{
  0%{-webkit-transform:translateY(0);}
  100%{-webkit-transform:scale(1,0);}
}

.dropdown {
  position: relative;
  width: 12rem;
}

.panel {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.75rem;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(131, 130, 130, 0.2);
}

.select-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.options-panel {
  position: absolute;
  top: 100%;
}

.chevron-down-icon {
  font-size: large;
}

.option {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem;
}

.option:hover {
  background-color: #cce2ff;
}

.show {
  max-height: 0px;
  transition: max-height .3s ease-in;
  transform-origin: 50% 0;
  animation: slide-down 0.3s ease-in;
  -webkit-animation: slide-down 0.3s ease-in;
}

.hidden {
  max-height: 0px;
  transform-origin: 50% 0;
  animation: slide-up 0.3s ease-in;
  -webkit-animation: slide-up 0.3s ease-in;
}