.dropdown {
  position: relative;
  width: 12rem;
}

.select-panel {
  display: flex;
  justify-content: space-between;
}

.panel {
  background-color: white;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.chevron-down-icon {
  font-size: large;
}