#search-input {
  width: 12rem;
  position: relative;
  padding: 10px 5px;
  z-index: 2;
  background-color: transparent;
}

.search-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  background-color: #fff;
}

.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 12rem;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f2f2f2;
}

.autocomplete-text {
  position: absolute;
  top: 6px;
  z-index: 1;
  padding: 1px 0;
  color: #999;
  pointer-events: none;
}
